<main>
  <div class="flex justify-center mb-8">
    <h1>What is F1?</h1>
  </div>
  <div class="info-grid">

    <!-- row 1 -->
    <div class="order-1 mb-4 text-spacing lg:mb-0">

      <h2>F1 Race Weekend Structure</h2>

      <div class="space-y-4">
        <p>An F1 race weekend spans over three action-packed days, offering a thrilling blend of practice, strategy, and
          high-speed racing.</p>
        <ul class="list-disc space-y-2">
          <li><span>Friday:</span> Practice Sessions</li>
          <li><span>Saturday:</span> Final Practice & Qualifying
          </li>
          <li><span>Sunday:</span> The Race
          </li>
        </ul>
      </div>
    </div>
    <div class="order-2 lg:mb-0">
      <img
        src="https://media.formula1.com/image/upload/t_16by9South/f_auto/q_auto/v1709392049/trackside-images/2024/F1_Grand_Prix_of_Bahrain/2053149561.jpg"/>
    </div>

    <!-- row 2 -->
    <div class="order-3 text-spacing lg:order-4">
      <h2>Who races in F1?</h2>
      <p>Extreme g-forces. Daring decisions made in the blink of an eye – and at 370km/h. Dramatically battling to be
        the best, Formula 1 drivers are more like fighter pilots than sportspeople. Only 20 get the chance to compete,
        and they push themselves – and their incredible machines – to the very limit.</p>
      <button routerLink="/drivers">Driver Lineup</button>
    </div>
    <div class="order-4 lg:order-3">
      <img
        src="https://media.formula1.com/image/upload/t_16by9South/f_auto/q_auto/v1708541586/trackside-images/2024/Formula_1_Testing_in_Bahrain___Drivers_Photocall/2028268909.jpg"/>
    </div>

    <!-- row 3 -->
    <div class="order-5 text-spacing">
      <h2>Where does F1 race?</h2>
      <p>Some sports play stadiums. Our 'stadiums' span cities. With 24 races in amazing locations across 5 continents,
        Formula 1 is *truly* an international sport.</p>
      <button routerLink="/tracks">Track locations</button>
    </div>
    <div class="order-6">
      <img
        src="https://media.formula1.com/image/upload/t_16by9Centre/f_auto/q_auto/v1682606473/Teams_1920x1080.jpg"/>
    </div>

  </div>
</main>
